body{
    color: white;
}

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 50%;
    border-radius: 8px;
    background: pink;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 pink;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color:white;
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct{
    background: linear-gradient(32deg, rgb(197, 14, 127) 0%, rgb(152, 41, 232) 100%);
}

.incorrect{
    background: linear-gradient(32deg, rgb(158, 18, 18) 0%, rgb(142, 128, 48) 100%);
}

#hudisplay{
    display: flex;
    justify-content: space-between;
}

.hudisplay-prefix{
    text-align: center;
    font-size: 2rem;
}

.hudisplay-main-text{
    text-align: center;
}



@media screen and  (max-width: 768px){
    .choice-container{
        min-width: 25rem;
    }
}